@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-adieu: var(--font-adieu);
  --font-brasley: var(--font-brasley);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-adieu {
  font-family: var(--font-adieu), system-ui, sans-serif;
}

.font-brasley {
  font-family: var(--font-brasley), system-ui, sans-serif;
}
